.checkboxContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.checkboxContainer input {
  margin: 0;
  height: 20px;
  width: 20px;
  margin-top: 3px;
  cursor: pointer;
}
